body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 49, 49);
    background-image: url(../img/bg.png);
    background-size: cover;
    background-attachment: fixed;

}
.frame {
    width: 100%;
    display: flex;
    justify-content: center;
    filter: brightness(90%);
}

.frame img {
    position: relative;
}

#atif_bg_img {

    margin-top: 50px;
    filter: blur(2px);
}

.photo {
    position: absolute;
    display: flex;
    align-items: center;
}

.photo img {
    margin: 175px 0 0 0;
    border: 5px solid white;
    border-radius: 10px;
}

.photo .mz_data {
    padding-left: 4rem;
    font-size: 2rem;
    color: aliceblue;

}

.photo h2 {
    font-size: 7vh;
    color: beige;
}

.mz_data h1 {
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);

}

.mz_data h2 {
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    text-align: center;

}

.mz_data p {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
.mz_data button {
    border: 1px solid white;
    color: aliceblue;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    transition: transform 0.2s;
    width: fit-content;
    font-size: xxx-large;
    
}

.mz_data button:hover {
    transform: scale(1.2);
    /* box-shadow: -2px 0 .3em red, -2px 0 .3em red; */
}

.mz_data button a{
    text-decoration: none;
    text-transform: capitalize;
    color: aliceblue;
}

.frame1 {
    margin-top: 10px;
    display: flex;
}

.frame1 .about {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 10px;
    margin: 0 500px 0 20px;
   border: 5px solid white;
    border-radius: 20px;
    
}

.frame1 .about h1 {
    font-size: 60px;
    text-decoration: underline;
}

.frame1 .about p {  
    font-size: 2rem;
    text-wrap: balance;
    font-weight: bolder;
}

.frame2 {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.frame2 .songs {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 5px solid white;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
}

.frame2 .songs h1 {
    text-transform: capitalize;
    font-size: 60px;

}

.frame2 .songs ol {
    width: fit-content;
    font-size: 35px;
}

.mz_video{
    display: flex;
    justify-content: center;
}
.mz_video video{
    border: white solid 3px;
    margin-top: 40px;
}

.relate{
    margin-left: 45px;
    margin-top: 70px;
    font-size: 60px;
    padding: 10px;
    text-transform: capitalize;
    text-decoration:underline;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.singers {
    display: flex;
    justify-self: center;
    padding: 20px;
    display: flex;
    justify-content: center;


}
.singers .sing{
    margin: 0 70px;
   display: flex;
   background-color: rgb(0, 0, 0);
   color: aliceblue;
   border: 5px solid white;
   text-decoration: underline;
   
}
.singers .sing .atif{
    padding: 20px;
}
.singers .sing .atif img{
   border: 1px solid white;

    transition: transform 0.2s;
}
.singers .sing .atif img:hover{
    box-shadow: -2px 0 .9em red , -2px 0 .9em red;
    transform: scale(1.1);

}
.singers .sing .atif p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}
.singers .sing .arijit{
    padding: 20px;
}

.singers .sing .arijit img{
   border: 1px solid white;

    transition: transform 0.2s;
}
.singers .sing .arijit img:hover{
    box-shadow: -2px 0 .9em red , -2px 0 .9em red;
    transform: scale(1.1);
}
.singers .sing .arijit p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
